# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
env*/
enp/
/tmpmlproj/

# Jupyter
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3

# Temporary files
tmp/

# Editor/IDE
.vscode/
